OSBAndSOA/DesigTimeMDS/SOA/apps/CardValidationSystem/Schemas/CVSBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/OSBAndSOA/CardValidationSystem/CVSBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="CardRequest">
    <complexType>
      <sequence>
        <element name="ccNumber" type="integer"/>
        <element name="ccVendor" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="CardReResponse">
    <complexType>
      <sequence>
        <element name="ccNumber" type="integer"/>
        <element name="ccVendor" type="string"/>
        <element name="ccStatus" type="string"/>
      </sequence>
    </complexType>
  </element>
  <!--Fault message-->
  <element name="FaultSchema">
    <complexType>
      <sequence>
        <element name="Code" type="integer"/>
        <element name="FaultName" type="string"/>
        <element name="FaultMessage" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>