OSBAndSOA/ArithimaticOperations/SOA/Schemas/arithimaticBPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/OSBAndSOA/ArithimaticOperations/arithimaticBPELProcess"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="RequestOperation">
    <complexType>
      <sequence>
        <element name="NumberOne" type="integer"/>
        <element name="NumberTwo" type="integer"/>
      </sequence>
    </complexType>
  </element>
  <element name="ResponseOperation">
    <complexType>
      <sequence>
        <element name="OperationName" type="string"/>
        <element name="result" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>